.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    background-image: url(../img/bg/bgclients.jpg);

    color: #fff;
}
.team__teammate {
    margin: 0 20px;
}

@media (min-width: 601) and (max-width: 1100px) {
    .team {
        flex-wrap: wrap;
    }
    .team__teammate {
        margin: 0;
        margin-bottom: 30px;
        width: 45%;
    }

    .team__teammate:first-child {
        margin-right: 10%;
    }
    .team__teammate:last-child {
        width: 100%;
    }
}


@media (max-width: 600px) {
    .team {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .team__teammate {
        margin: 0;
        margin-bottom: 30px;
        width: 100%;
    }
}

