.teammate {
    width: 300px;
    text-align: center;
}
.teammate_boss {
    color: red;
}

.teammate__icon {
    margin-bottom: 10px;
}
.teammate__name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: normal;
}
.teammate__contract {
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(190, 67, 86);
}

.teammate__description {
    font-size: 14px;
    opacity: 0.6;
}

@media (max-width: 1100px) {
    .teammate {
        width: 100%;
        text-align: left;
    }
}

