
.parent{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;

}

.child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    background-color: yellow;
}
.child:nth-child(1){
    order: 1;
    /* flex-grow: 2; */
}

/* .child:nth-child(2){
    flex-grow: 1;
}
.child:nth-child(3){
    flex-grow: 1;
}
.child:nth-child(4){
    flex-grow: 2;
} */