<div class="app">
  <div class="app__burger">
    <app-burger class="light"></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
  <div class="app__burger">
    <app-burger></app-burger>
  </div>
</div>
