.library {
  width: 300px;
  padding: 20px;
  background-color: #ddd;
  color: #333;
}
.library__title {
  margin-bottom: 10px;
}
.library__book-list {
  margin-bottom: 10px;
}
.library__book {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 5px;
  background-color: #333;
  color: #fff;
}
.library__book:not(:last-child) {
  margin-bottom: 2px;
}

.library__book-id {
  min-width: 20px;
  margin-right: 5px;
}
.library__book-name {
  flex: 1;
}

.library__add-book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.library__add-book-input {
  flex: 1;
}
