<div class="burger-list">
  <div class="burger-list__burgers">
    <ng-container
      *ngFor="let burger of burgerList; let i = index; trackBy: trackById"
    >
      <div
        class="burger-list__burger"
        [class.selected]="burger.id === selectedBurger?.id"
        (click)="selectBurger(burger)"
      >
        {{ burger.name }}
      </div>
    </ng-container>
  </div>
  <div class="burger-list__selected-burger" *ngIf="selectedBurger">
    <app-burger [burger]="selectedBurger"></app-burger>
  </div>

  <div *ngIf="!burgerList">...loading</div>
</div>
