:host {
  display: block;

  &.light .burger[class] {
    background-color: transparent;
    color: #333;
  }
}

:host-context(.body--dark) .burger {
  background-color: #333;
  border: 1px solid #333;
  color: rgb(243, 243, 243);
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 300px;
  min-height: 230px;
  padding: 20px;
  border-radius: 5px;

  &__name {
    margin-bottom: 10px;
    color: #ff6768;
  }

  &__description {
    flex: 1;
  }

  &__remove {
    margin-bottom: 10px;
  }
  &__remove,
  &__select {
    padding: 10px;
    border: none;
    background-color: #ff6768;

    color: #fff;
    text-transform: uppercase;

    cursor: pointer;
  }
}
