.navigation {
    background-color: #333;
    padding: 20px;
    
    &__link {
        margin-right: 10px;

        background-color: #fff;
        padding: 5px 10px;

        color: #333;
        text-transform: uppercase;
        text-decoration: none;

        &.active {
            background-color: #ff6768;
            color: #fff;
        }
    }
}